@charset 'utf-8';

.footer,.footer a{color:white;}
.footer>.footer_top{background-color:#111;}
.footer_top .content2{display:flex; flex-flow:row nowrap; padding:20px 0;}
.footer_top .content2>div{display: flex;}
.footer_top .content2 p,.footer_top .content2 select{margin-right: 10px;}
.footer_top select{background-color: transparent; border:none; color:#b19c5e;}
.footer_top select option{color:#b19c5e; font-size:10px;}
.footer_top p>a{transition:0.2s;}
.footer_top p>a:hover{color:#b19c5e;}
.footer>.footer_list,.footer>.footer_bottom{background-color:black;}
.footer_list>ul{display:flex; flex-flow:row wrap;justify-content: space-between;}
.footer_list>ul>li{width:30%; margin-bottom:30px; margin-left:30px;}
.footer_list>ul>li>p{padding:6px 0;}
.footer_list>ul>li>p>a:hover{color:#b19c5e;}
.svg{display:flex; flex-flow:row nowrap;}
.svg>p{margin-right:15px;}
svg{width:20px; height:20px; fill:white;transition:0.2s;}
svg:hover{fill:#b19c5e;}
.footer_bottom>ul.content2{display:flex; flex-flow:row nowrap; justify-content:center;
border-top: 1px dotted rgba(255,255,255,0.5); padding:20px 0;}
.footer_bottom>ul>li{margin-right: 20px;}
.footer_bottom>ul>li>a:hover{color: #b19c5e;}
@media (max-width:767px){
    .footer_top .content2{flex-flow:column;}
    .footer_top .content2>p:nth-of-type(1){margin:10px 0;}
    .footer_list li:nth-child(1),
    .footer_list li:nth-child(3),
    .footer_list li:nth-child(6){width:100%;}
    .footer_list li:nth-child(2){display: none;}
    .footer_list li:nth-child(4),.footer_list li:nth-child(5){width:40%;}
}