@charset 'utf-8';

.header{position: relative;height:80px; }
.header>.content1{height:80px;display: flex; flex-flow: row nowrap;
justify-content:space-between;align-items:center; background-color:#fff; }
.nav>ul{display:flex; flex-flow: row nowrap;}
.nav>ul>li{padding-right:20px;}
.nav>ul>li>a{font-size:16px;}
.submenu,.subwatch{position: absolute; left:0; bottom:100%;z-index:10 ;width:100%; transition:0.3s; background:transparent;}
@media (max-width:767px){
    .nav .submenu{top:-1600%;}
    .submenu_list{flex-flow:column nowrap;}
    .submenu_list>li{width:100% !important;}
    .submenu_list>li:nth-child(5),
    .submenu_list>li:nth-child(6){width:100% !important;}
    .submenu_list>li:nth-child(1){order:2;}
    .submenu_list>li:nth-child(2){order:3}
    .submenu_list>li:nth-child(3){order:4;}
    .submenu_list>li:nth-child(4){order:5}
    .submenu_list>li:nth-child(5){order:1;}
    .submenu_list>li:nth-child(6){order:6}
    .submenu_list>li:nth-child(5) .submenu_txt{border-top:none;}
    .submenu_list>li:nth-child(5) .submenu_txt p{display: none;}
    .submenu_list>li:nth-child(5) .submenu_txt p:last-child{display:block;}
    .submenu_txt p{font-size:10px;}
    .submenu_txt p:nth-child(1){font-size:12px; font-weight: bold;}
    
}
.logo img{width:120px;}
.header_icons>ul{display:flex;}
.header_icons>ul>li{padding:0 10px;}
.header_icons>ul>li:last-child{padding-right:0;font-size:16px;}
.header_icons>ul>li:nth-of-type(4)>a{display: inline-block;width:1px;height: 20px; text-indent:-9999px; background-color: black;}
.header_icons img{width:20px;}
.header_icons img:nth-child(2){display: none;}
.search_form{position: absolute; top:100%; left:0;z-index:10 ;width:100%; padding:25px 20%;background-color:#f7f7f7;
    display: flex; justify-content: space-between; overflow: hidden;;align-items: center;  display: none;}
.search_form>#search01,.search_form>input:last-child{width:70%;padding:6px 6px; font-size:24px; background-color: #f7f7f7;}
.search_form>#search01{outline: none;}
.search_form>input:last-child{width:10%; padding:10px 0;font-size:16px; background-color:#999; color:white;}
.search_form>input:last-child:hover{background-color:#666;}

.login_form{position: fixed;z-index: 11; display:none;top:0; left:0;background-color:rgba(0,0,0,0.5);width:100%; height:100%;}
.login_form>.content1{padding:30px 0;}
.login_close{text-align:right;  margin-bottom:40px;}
.login_close>#close_btn{width:30px; cursor: pointer;}

.iwc_join{font-weight:bold; width:32%; margin:0 auto;padding:15px; background-color:white;}
.iwc_join>h2{font-size:36px; font-weight:400; text-align: center;}
.iwc_join>h2>span{font-weight: bold;}
.iwc_join>ul{text-align:center;}
.iwc_join>ul>li{display: inline-block;font-weight:300;margin:20px;font-size: 20px;cursor: pointer; color:#999;}
.iwc_join>ul>li.active{color:#000; padding-bottom:3px; border-bottom:3px solid #b19c52;}
.iwc_join>div{position: relative;display:flex; flex-flow:column nowrap; margin:20px 10px;}
.iwc_join>div::after{content:'';display:block; font-size:10px; color:red; visibility: hidden; }
.iwc_join>div.active::after{visibility:initial;}
.iwc_join>div:nth-of-type(1)::after{content:'아이디는 이메일(예시:e-mail@xxxxxx.xxx)형식으로 입력해 주세요.';}
.iwc_join>div:nth-of-type(2)::after{content:'패스워드는 영문+숫자+특수기호를 포함하여 8자이상으로 입력해 주세요.';}
.iwc_join>div>label{position:absolute; top:0;height:20px;font-size:16px;font-weight:100; transition: 0.3s;}
.iwc_join>div>label.active{font-size:12px; top:-20px;}
.iwc_join>div>input{padding:6px 0; border-bottom:1px solid #ccc; font-size: 20px;outline:none; background:transparent;} 
.iwc_join>div>input.active{border-bottom:1px solid #000000;}
.iwc_join>p{text-align: center; margin: 20px 0; transition: 0.2s;}
.iwc_join>p:hover>a{color:#b19c52; text-decoration: underline;}
.iwc_join>input{display:block;font-weight:bold; margin:30px auto;border:1px solid #000;padding:10px 80px; background-color:white;
    outline:none; cursor: pointer;transition: 0.3s; color:black}
.iwc_join>input:hover{background-color:#000; color:white;}   
#lang_btn{position: relative;} 
.lang_box{position: absolute; top:60%;right:40px;z-index:11; width:300px; display: none;}
.lang_box>.tri{display:flex; flex-flow:row nowrap;}
.lang_box>.tri>li:nth-child(1){width:90%;}
.lang_box>.tri>li:nth-child(2){width:5%; height:20px; border:10px solid transparent; border-bottom-color: white; }
.lang_box>.tri>li:nth-child(3){width:5%;}
.lang_container{padding:20px;background-color: white;box-shadow:0 5px 20px rgba(0,0,0,0.2),0 -5px 20px rgba(0,0,0,0.2),
    5px 0 20px rgba(0,0,0,0.2),-5px 0 20px rgba(0,0,0,0.2);}
.lang_container hr{margin: 10px 0;height:3px; background-color:black;}
.lang_container>p{margin: 10px 0;}
.lang_container>p:nth-of-type(2){font-size:14px; color:#666}
.lang_container>h4{margin: 10px 0;border-bottom:1px dotted rgba(177, 156, 94,0.5);font-weight:normal;font-size:12px;padding-bottom:6px;
    display:flex; flex-flow:row nowrap;justify-content: space-between;cursor: pointer;}
.lang_container>h4::after{content: ">"; display:inline-block;}
.lang_container>ul{margin: 10px 0;overflow-y:scroll; display:none;}
.lang_container>ul>li{border-bottom:1px solid rgba(0,0,0,0.1);padding:3px 0 ;text-indent:20px; font-size: 14px;}  
.lang_container>ul.sel_lang{height:100px;}
.lang_container>ul.sel_cont{height:200px;}
.rotate_sim{display:inline-block;font-weight:bold;transition:0.3s;margin-left:15px;}
.rotate_sim.active{transform:rotate(180deg);}
.submenu_list{display:flex; flex-flow:row wrap; justify-content:space-between;}
.submenu_list>li{width:22.75%;margin-bottom:3%;}
.submenu_list>li:nth-child(5){width:48.5%}
.submenu_list>li:nth-child(6){width:48.5%}
.submenu_txt{border-top:4px solid #000;}
.submenu_txt>p{padding:12px 0;}
.submenu_txt>p>a{transition:0.2s;}
.submenu_txt>p>a:hover{color:#b19c52;}
.txt_bold{font-weight:bold;}
.submenu hr{width:100%; height:1; background:black; margin-bottom:100px;}
.subwatch_list>li{border-top:4px solid #000; padding:20px 0;}
.col_tit{display:flex; flex-flow:row nowrap; justify-content: space-between;}
.col_tit h4{font-size:16px; font-weight:normal;}
.col_content{display:flex; flex-flow:row nowrap; justify-content:space-around;}
.watches{width:12%;padding-top:10vw;position: relative;}
.watches img{width:100%; position: absolute; left:50%; top:0; transform:translateX(-50%); transition:0.3s;}
.watches p{text-align:center;}
.watches p span{color:#999;}
.watches:hover img{width:105%;}
.watches:hover p span{color:#b19c52;}
.watch_list{display:flex;flex-flow:row nowrap;justify-content:space-between;}
.watch_list p{padding:6px 0; font-size: 11px;}
.watch_list p:first-child{padding-bottom:20px; font-size:14px;}

@media (max-width:767px){
    .nav>ul>li:first-child::before{content:'\2630'; cursor: pointer; font-size:25px;}
    .nav>ul>li>a{display: none;}
    .col_tit{flex-flow:column nowrap; justify-content:flex-start;}
    .col_tit p{font-size:16px;}
    .col_tit p a{color:#999; transition:0.2s;}
    .col_tit p a:hover{color:#b19c52;}
    .col_content{flex-flow:row wrap;}
    .watches{width:140px; padding-top:200px;}
    .logo img{width:100px;}
    .header_icons>ul>li:nth-child(3),
    .header_icons>ul>li:nth-child(4),
    .header_icons>ul>li:nth-child(5){display: none; }
    .header_icons>ul>li{padding:0 8px;}
    .search_for>input:last-child{display:none;}
    .iwc_join{width:100%;}
    .search_form>input:last-child{width:14%;padding: 10px 0px;font-size: 12px;}
}